/* typeface files */
@font-face {
    font-family: Neue Montreal Regular;
    src: url(fonts/NeueMontreal-Regular.otf);
}

@font-face {
    font-family: Neue Montreal Bold;
    src: url(fonts/NeueMontreal-Bold.otf);
}

@font-face {
    font-family: Pencerio;
    src: url(fonts/Pencerio-Hairline.otf);
}

@font-face {
    font-family: Segment;
    src: url(fonts/Segment-Regular.otf);
}

@font-face {
    font-family: Apfel Grotesk Regular;
    src: url(fonts/ApfelGrotezk-Regular.otf);
}

:root {
    /* --title-font: 'Neue Montreal Bold'; */
    --title-font: 'Segment'; 
    /* --title-font: 'Pencerio'; */ 
    --base-font: 'Neue Montreal Regular';
    --quote-font: 'Apfel Grotesk Regular';

    --font-size-base: 16px;
    --line-height: 150%;
    --spacing: 10px;

    --dark-grey:#0B0B0B;
    --white: #FFFFFF;
    --beige: rgb(237, 233, 222);
    --orange: #FF7245;
    --dark-orange:#EB2E00;
}