/* typeface files */
@font-face {
    font-family: Neue Montreal Regular;
    src: url(fonts/NeueMontreal-Regular.otf);
}

@font-face {
    font-family: Neue Montreal Bold;
    src: url(fonts/NeueMontreal-Bold.otf);
}

@font-face {
    font-family: Pencerio;
    src: url(fonts/Pencerio-Hairline.otf);
}

@font-face {
    font-family: Segment;
    src: url(fonts/Segment-Regular.otf);
}

@font-face {
    font-family: Apfel Grotesk Regular;
    src: url(fonts/ApfelGrotezk-Regular.otf);
}

:root {
    /* --title-font: 'Neue Montreal Bold'; */
    --title-font: 'Segment'; 
    --base-font: 'Neue Montreal Regular';
    --quote-font: 'Apfel Grotesk Regular';

    --font-size-base: 16px;
    --line-height: 150%;
    --spacing: 10px;

    --dark-grey:#0B0B0B;
    --white: #FFFFFF;
    --beige: rgb(237, 233, 222);
    --orange: #FF7245;
    --dark-orange:#EB2E00;
}


/* ***************************************************************** */
/* DISPLAY/ HIDDEN THINGS */
#channel-count {
    display: none;
}

body{
    background-color: var(--beige);
    scroll-behavior: smooth;
}

/* HEADER */

h1 {
    display: none;
}

h2 {
    display: none;
}
aside {
    display: none;
}

/* COLLECTION */
ul {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(2.5* var(--spacing));
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 2em;
  }

  ul p {
    display: none;
  }
  
  ul li {
    width: 20em;
    height: 20em;
    transition: all 0.5s linear; 
    background-color: var(--white);
    align-items: center;
    }
  

  ul li:hover {
    transform: scale(1.05);
  }


/* IMAGES */
ul img {
    object-fit: cover;
    opacity: 0.01;
}

/* TEXT */
/* h2 {
    font-family: var(--base-font);
    font-size: calc(2* var(--font-size-base));
    padding-top: 1em;
    padding-bottom: 0.5em;
}

p {
    font-family: var(--base-font);
    font-size: calc(0.8* var(--font-size-base));
    line-height: var(--line-height);
}
 */

/* TEXTBOX */
.block--text {
    width: 20em;
    height: 20em;
    padding: 1.5em;
    overflow: scroll;
    transition: none;
    align-items: center;

    font-family: var(--quote-font);
    font-size: calc(1* var(--font-size-base));
    line-height: calc(1.* var(--line-height));
    color: var(--white);
    background-color: var(--white);
}

.block--text p {
    text-align: left;
}

.block--text:hover {
    transform: none;
}

.block--text:hover p {
    color: var(--dark-grey);
}



/* FOOTER */
footer {
    font-family: var(--base-font);
    background-color: var(--white);
    color: var(--dark-grey);
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    /* margin-top: 3em; */
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}


 /* LIGHTBOX */
.lightbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
 }
    
.lightbox img {
        opacity: 1;
        max-width: 80%;
        max-height: 80%;
        object-fit: contain;
   }


/* ******************************************************************* */
/* MEDIA QUERIES - TABLET */
    @media (min-width: 700px) {
        h1 {
            font-size: calc(6* var(--font-size-base));
        }

        /* aside {
            font-size: calc(1.1* var(--font-size-base));
            width: 40%;
            padding-top: 8em;
        } */
        
        ul li {
            width: 15em;
            height: 15em;
          }
    }




/* ******************************************************************* */
/* MEDIA QUERIES - LAPTOPS and LARGER SCREENS */
@media (min-width: 1200px) {
    h1 {
        font-size: calc(10* var(--font-size-base));
    }

    /* aside {
        font-size: calc(0.5* var(--font-size-base));
        width: 30%;
        padding-top: 25em;
        margin: 2em;
    } */

    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 2em;
        /* align-items: left; */
    }

    ul li {
        width: 22em;
        height: 22em;
      }

    h2 {
        font-size: calc(3* var(--font-size-base));
        color: var(--white);
    }

    p {
        font-size: calc(1.3* var(--font-size-base));
    }
    

    /* COLOR OVERLAY + HOVERS */
    .block--text {
        /* width: 22em;
        height: 22em; */
        font-size: calc(3.6* var(--font-size-base));
        padding: 3em;
        color: var(--white);
    }

    .block--text:hover {
        color: var(--dark-grey);
    }

    .block--text p {
        width: 40%;
        text-align: left;
    }

    img {
        object-fit: cover;
        opacity: 0.01;
    }
    

}